<!DOCTYPE html>
 <html lang='en'>
   <head>
     <meta charset='utf-8'>
     <title>Sinatra Rock Paper Scissors</title>
     <link rel='stylesheet' type="text/css" href="/style.css" />
   </head>
   <body>
     <%= yield %>
     <footer>Best Rock Paper Scissors&trade;!</footer>
   </body>
 </html>
